@media (max-width:991px) {
    .step .item a.title {
        font-size: 28px;
    }
    .platform .content {
        border-right: none;
    }
    .price-base .left-side ul li,
    .price-base .left-side p {
        max-width: 100%;
    }
    .price-base {
        padding-top: 50px;
    }
    .table-big .table td {
        padding: 25px 8px;
    }
    .price-base .right-side h3 {
        margin-top: 60px;
    }
    .table-big td p {
        line-height: 1.7;
    }
    .footer-banner h2{
        br{
            display: none;
        }
    }
}

@media (max-width:767px) {
    .text-center767 {
        text-align: center;
    }
    .step .item {
        display: inline-block;
    }
    .footer-banner h2 {
        font-size: 30px;
    }
    .logo {
        display: inline-block;
        margin-bottom: 15px;
    }
    .banner {
        br {
            display: none;
        }
    }
    .heading-2 h2,
    .banner h1 {
        font-size: 45px;
    }
    .service .item {
        max-width: 356px;
        margin: 0 auto;
    }
    .table-responsive {
        border: none;
    }
    .table-base .table-head,
    .table-base .table-body {
        width: 520px;
    }
    .table-blank {
        .table > tbody > tr > td {
            width: 100%;
            display: block;
            text-align: left;
            border-color: transparent;
            &:first-child{
                padding-top: 20px;
            }
        }
        .table-head,
        .table-body {
            width: 100%;
        }
        .table > tbody > tr > td.price {
            border-bottom: 1px solid #EDEDED;
            padding-bottom: 15px;
            p {
                line-height: 1.5;
            }
        }
        .table > tbody > tr:last-child > {
            td {
                border-bottom: transparent;
            }
            td.price {
                border-bottom: 1px solid #EDEDED;
            }
        }
        .table-body,
        .table-head {
            padding: 15px 5px;
        }
        .table td {
            padding: 0px 8px;
            p{
                margin: 0;
            }
        }
    }

}

@media (max-width:575px) {
    .pricing-page .footer-banner a.tab {
        padding: 10px 20px;
        width: auto;
        min-width: 290px;
    }
}

@media (max-width:479px) {
    .footer-banner a.tab {
        width: 100%;
        min-width: 100%;
    }
    .footer-banner h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .banner h1,
    .heading-2 h2 {
        font-size: 30px;
    }
    .banner p {
        font-size: 17px;
    }
    .service-details .content h2 {
        font-size: 20px;
    }
    .service-details .content h4 {
        font-size: 16px;
    }
    .service-details .content p {
        font-size: 14px;
    }
    .service-details {
        padding: 60px 0 10px 0;
    }
    .pricing {
        padding: 60px 0 60px 0;
    }
    .platform {
        padding-bottom: 55px;
    }
    .footer-banner {
        padding: 60px 0;
    }
    .service .item .text-top {
        padding: 60px 27px 124px 27px;
    }
}
