body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

@media (min-width: 768px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*=============================== Header ===========================*/
.main-header {
  background: #4e5c76;
  padding: 25px 0;
}
.main-header .menu-link a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin-right: 15px;
}
.main-header .menu-link a.phone {
  border-right: 1px solid #8399a7;
  padding-right: 20px;
}
.main-header .menu-link a.user {
  margin-right: 10px;
}
.main-header .menu-link small {
  font-size: 14px;
  color: #8699a8;
  font-weight: 700;
  margin-right: 4px;
}

/*=============================== banner ===========================*/
.banner {
  padding-top: 100px;
  padding-bottom: 70px;
}
.banner h1 {
  font-size: 47px;
  color: #1D232E;
  font-weight: 900;
  margin: 0;
  line-height: 1.1276595745;
  margin-bottom: 10px;
}
.banner p {
  color: #4D5D76;
  font-size: 21px;
  font-family: "Georgia", "Raleway", sans-serif;
  line-height: 1.6666666667;
  margin: 0;
}

/*=============================== step ===========================*/
.step {
  background: #2D3142;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
}
.step .item {
  padding-bottom: 70px;
  text-align: left;
}
.step .item .number {
  font-size: 175px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: .7;
  position: relative;
  padding-left: 50px;
  padding-bottom: 50px;
}
.step .item .number span {
  font-size: 40px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #4E5D76;
  position: absolute;
  top: 46px;
  left: -56px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.step .item a.title {
  font-size: 30px;
  line-height: 1.7666666667;
  font-weight: 700;
  color: #fff;
}
.step .item p {
  line-height: 1.6;
  position: relative;
  padding-left: 23px;
  max-width: 274px;
  margin: 0;
  margin-top: 10px;
}
.step .item p:before {
  content: "";
  width: 5px;
  height: 29px;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 0;
}
.step .step-bottom h2 {
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px solid #4B566B;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.step .step-bottom p {
  margin: 0;
  max-width: 964px;
  font-size: 17px;
  line-height: 1.8235294118;
}

/*=============================== footer-banner ===========================*/
.footer-banner {
  padding: 100px 0;
}
.footer-banner h2 {
  font-size: 40px;
  color: #4D5D76;
  line-height: 1.325;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 55px;
}
.footer-banner a.tab {
  background: #FA3F40;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  border-radius: 50px;
  padding: 18px 20px;
  min-width: 318px;
  -webkit-transition: .5s;
  transition: .5s;
}
.footer-banner a.tab:hover {
  background: #4e5c76;
}

/*=============================== main-footer ===========================*/
.main-footer {
  background: #4e5c76;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
}
.main-footer .widget {
  padding: 15px 0;
}
.main-footer a {
  color: #fff;
}
.main-footer .icon {
  margin-right: 12px;
}
.main-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-footer ul li {
  margin-bottom: 5px;
}
.main-footer .copy {
  color: #413541;
  padding-top: 20px;
}

/*=============================== platform ===========================*/
.heading-2 h2 {
  font-size: 47px;
  line-height: 1.1276595745;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
}
.heading-2 p {
  max-width: 940px;
  margin: 0 auto;
  font: italic 18px/2 "Georgia", "Raleway", sans-serif;
}

.platform {
  color: #fff;
  background: #2D3142;
  padding-top: 73px;
  padding-bottom: 90px;
}
.platform .content-wraper {
  padding-top: 50px;
}
.platform .content-wraper .col-md-4 {
  padding: 30px 15px;
}
.platform .content {
  border-right: 1px solid #C4C4C4;
  height: 100%;
}
.platform .content .img {
  min-height: 88px;
}
.platform .content a.title {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 15px;
}
.platform .content p {
  line-height: 1.6;
  max-width: 280px;
  margin: 0 auto;
}

/*=============================== platform ===========================*/
.service-details {
  padding: 100px 0 42px 0;
}
.service-details .content {
  max-width: 964px;
  margin: 0 auto;
  padding-bottom: 58px;
}
.service-details .content h2 {
  color: #FA3F40;
  font-size: 30px;
  line-height: 1.4666666667;
  font-weight: 900;
  margin: 0;
}
.service-details .content h4 {
  color: #748493;
  font-size: 23px;
  line-height: 1.347826087;
  margin: 15px 0 30px 0;
}
.service-details .content p {
  font-size: 18px;
  line-height: 1.5;
  color: #748493;
  margin: 0;
}

/*=============================== pricing ===========================*/
.pricing {
  padding: 74px 0 86px 0;
  background: #2D3142;
  color: #fff;
}
.pricing .nation-map {
  max-width: 100%;
  margin-top: 35px;
}

/*=============================== service-page ===========================*/
.service {
  padding-bottom: 90px;
}
.service .service-content-wraper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service .service-content-wraper .col-md-4 {
  margin-bottom: 36px;
  float: none;
}
.service .item {
  background: #fff;
  -webkit-box-shadow: 0px 4px 62px rgba(201, 223, 240, 0.44);
          box-shadow: 0px 4px 62px rgba(201, 223, 240, 0.44);
  border-radius: 16px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.service .item .text-top {
  padding: 60px 27px 124px 45px;
}
.service .item .img {
  margin-bottom: 50px;
}
.service .item a.title {
  color: #1D232E;
  font-size: 25px;
  line-height: 1.76;
  font-weight: 900;
}
.service .item p {
  font-size: 16px;
  color: #748493;
  line-height: 1.6875;
  margin: 28px 0 0 0;
}
.service .item .read-more {
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: 0;
}
.service .item .read-more a {
  color: #4D5D76;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 25px 0;
}
.service .item .read-more:before {
  content: "";
  display: block;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#C24E3E), color-stop(99.16%, #4E5D75));
  background: linear-gradient(90deg, #C24E3E 0%, #4E5D75 99.16%);
}
