body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

@media (min-width: 768px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*=============================== Header ===========================*/
.main-header {
  background: #4e5c76;
  padding: 25px 0;
}
.main-header .menu-link a {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin-right: 15px;
}
.main-header .menu-link a.phone {
  border-right: 1px solid #8399a7;
  padding-right: 20px;
}
.main-header .menu-link a.user {
  margin-right: 10px;
}
.main-header .menu-link small {
  font-size: 14px;
  color: #8699a8;
  font-weight: 700;
  margin-right: 4px;
}

/*=============================== banner ===========================*/
.banner {
  padding-top: 100px;
  padding-bottom: 70px;
}
.banner h1 {
  font-size: 47px;
  color: #1D232E;
  font-weight: 900;
  margin: 0;
  line-height: 1.1276595745;
  margin-bottom: 10px;
}
.banner p {
  color: #4D5D76;
  font-size: 21px;
  font-family: "Georgia", "Raleway", sans-serif;
  line-height: 1.6666666667;
  margin: 0;
}

/*=============================== step ===========================*/
.step {
  background: #2D3142;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 70px;
}
.step .item {
  padding-bottom: 70px;
  text-align: left;
}
.step .item .number {
  font-size: 175px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: .7;
  position: relative;
  padding-left: 50px;
  padding-bottom: 50px;
}
.step .item .number span {
  font-size: 40px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #4E5D76;
  position: absolute;
  top: 46px;
  left: -56px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.step .item a.title {
  font-size: 30px;
  line-height: 1.7666666667;
  font-weight: 700;
  color: #fff;
}
.step .item p {
  line-height: 1.6;
  position: relative;
  padding-left: 23px;
  max-width: 274px;
  margin: 0;
  margin-top: 10px;
}
.step .item p:before {
  content: "";
  width: 5px;
  height: 29px;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 0;
}
.step .step-bottom h2 {
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px solid #4B566B;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.step .step-bottom p {
  margin: 0;
  max-width: 964px;
  font-size: 17px;
  line-height: 1.8235294118;
}

/*=============================== footer-banner ===========================*/
.footer-banner {
  padding: 100px 0;
}
.footer-banner h2 {
  font-size: 40px;
  color: #4D5D76;
  line-height: 1.325;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 55px;
}
.footer-banner a.tab {
  background: #FA3F40;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  border-radius: 50px;
  padding: 18px 20px;
  min-width: 318px;
  -webkit-transition: .5s;
  transition: .5s;
}
.footer-banner a.tab:hover {
  background: #4e5c76;
}

/*=============================== main-footer ===========================*/
.main-footer {
  background: #4e5c76;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
}
.main-footer .widget {
  padding: 15px 0;
}
.main-footer a {
  color: #fff;
}
.main-footer .icon {
  margin-right: 12px;
}
.main-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-footer ul li {
  margin-bottom: 5px;
}
.main-footer .copy {
  color: #413541;
  padding-top: 20px;
}

/*=============================== platform ===========================*/
.heading-2 h2 {
  font-size: 47px;
  line-height: 1.1276595745;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
}
.heading-2 p {
  max-width: 940px;
  margin: 0 auto;
  font: italic 18px/2 "Georgia", "Raleway", sans-serif;
}

.platform {
  color: #fff;
  background: #2D3142;
  padding-top: 73px;
  padding-bottom: 90px;
}
.platform .content-wraper {
  padding-top: 50px;
}
.platform .content-wraper .col-md-4 {
  padding: 30px 15px;
}
.platform .content {
  border-right: 1px solid #C4C4C4;
  height: 100%;
}
.platform .content .img {
  min-height: 88px;
}
.platform .content a.title {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 15px;
}
.platform .content p {
  line-height: 1.6;
  max-width: 280px;
  margin: 0 auto;
}

/*=============================== platform ===========================*/
.service-details {
  padding: 100px 0 42px 0;
}
.service-details .content {
  max-width: 964px;
  margin: 0 auto;
  padding-bottom: 58px;
}
.service-details .content h2 {
  color: #FA3F40;
  font-size: 30px;
  line-height: 1.4666666667;
  font-weight: 900;
  margin: 0;
}
.service-details .content h4 {
  color: #748493;
  font-size: 23px;
  line-height: 1.347826087;
  margin: 15px 0 30px 0;
}
.service-details .content p {
  font-size: 18px;
  line-height: 1.5;
  color: #748493;
  margin: 0;
}

/*=============================== pricing ===========================*/
.pricing {
  padding: 74px 0 86px 0;
  background: #2D3142;
  color: #fff;
}
.pricing .nation-map {
  max-width: 100%;
  margin-top: 35px;
}

/*=============================== service-page ===========================*/
.service {
  padding-bottom: 90px;
}
.service .service-content-wraper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service .service-content-wraper .col-md-4 {
  margin-bottom: 36px;
  float: none;
}
.service .item {
  background: #fff;
  -webkit-box-shadow: 0px 4px 62px rgba(201, 223, 240, 0.44);
          box-shadow: 0px 4px 62px rgba(201, 223, 240, 0.44);
  border-radius: 16px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.service .item .text-top {
  padding: 60px 27px 124px 45px;
}
.service .item .img {
  margin-bottom: 50px;
}
.service .item a.title {
  color: #1D232E;
  font-size: 25px;
  line-height: 1.76;
  font-weight: 900;
}
.service .item p {
  font-size: 16px;
  color: #748493;
  line-height: 1.6875;
  margin: 28px 0 0 0;
}
.service .item .read-more {
  position: absolute;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: 0;
}
.service .item .read-more a {
  color: #4D5D76;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 25px 0;
}
.service .item .read-more:before {
  content: "";
  display: block;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#C24E3E), color-stop(99.16%, #4E5D75));
  background: linear-gradient(90deg, #C24E3E 0%, #4E5D75 99.16%);
}

/*=============================== Pricing-page ===========================*/
.price-base {
  background: #2D3142;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
}
.price-base .left-side h3 {
  margin: 0;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 25px;
}
.price-base .left-side p {
  font-size: 17px;
  line-height: 1.7647058824;
  margin-bottom: 40px;
  max-width: 479px;
}
.price-base .left-side ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.price-base .left-side ul li {
  line-height: 1.7647058824;
  font-size: 17px;
  font-weight: 700;
  max-width: 410px;
  margin-bottom: 20px;
}
.price-base .left-side ul li:before {
  content: "";
  background: url(../images/list-arrow.png) no-repeat;
  background-size: 100% 100%;
  width: 28.09px;
  height: 15.43px;
  float: left;
  position: relative;
  top: 6px;
}
.price-base .left-side ul li span {
  float: left;
  display: block;
  width: calc(100% - 28.09px);
  padding-left: 15px;
}
.price-base .right-side h3 {
  line-height: 2.0384615385;
  font-size: 26px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: 700;
}
.price-base .right-side small {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  line-height: 30px;
  font-size: 15px;
  margin-top: 18px;
  display: block;
}
.price-base .skipto {
  border-top: 1px solid #4D5D76;
  padding-top: 30px;
  margin-top: 45px;
}
.price-base .skipto p {
  margin: 0;
  margin-bottom: 15px;
}
.price-base .skipto p span {
  color: #4D5D76;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
}
.price-base .skipto p a {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
}

.table-base {
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.25);
  color: #4D5D76;
  position: relative;
  overflow: hidden;
}
.table-base .table {
  margin: 0;
  table-layout: fixed;
}
.table-base .table-head,
.table-base .table-body {
  padding: 0 30px;
}
.table-base .table-body {
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}
.table-base .table-head {
  background: #2D3142;
}
.table-base .table th {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 15px;
}
.table-base .table td {
  font-size: 17px;
  font-weight: 700;
  vertical-align: middle;
}
.table-base td.price {
  font-size: 30px;
  vertical-align: middle;
}
.table-base td.price:before {
  content: "$";
  font-size: 17px;
  position: relative;
  top: -6px;
  margin-right: 5px;
}

.table-small .table > thead > tr > th,
.table-small .table > thead > tr td,
.table-small .table > tbody > tr > th,
.table-small .table > tbody > tr td {
  border: transparent;
}

.table-big {
  -webkit-box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.11);
}
.table-big .table > thead > tr > th {
  border: transparent;
}
.table-big .table > tbody > tr > td {
  border-top: 1px solid #C4C4C4;
}
.table-big .table > tbody > tr:first-child > td {
  border: transparent;
}
.table-big td h4 {
  font-size: 17px;
  color: #4D5D76;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
}
.table-big td p {
  font-size: 14px;
  color: #2D3142;
  line-height: 2.1428571429;
  font-weight: 300;
}
.table-big .table-body {
  padding: 18px 30px;
}
.table-big td.price:before {
  display: none;
}
.table-big td.price p {
  font-size: 45px;
  color: #4D5D76;
  font-weight: 700;
  font-weight: 700;
  margin: 0;
}
.table-big td.price p:before {
  content: "$";
  font-size: 17px;
  position: relative;
  top: -6px;
  margin-right: 5px;
  font-size: 23px;
}
.table-big td.price small {
  color: #4E5D76;
  font-size: 14px;
  font-weight: 700;
  display: block;
  position: relative;
  top: -10px;
}

.main-table {
  padding-top: 19px;
}
.main-table .head {
  padding-top: 57px;
  padding-bottom: 28px;
}
.main-table .head h2 {
  font-size: 31px;
  color: #2D3142;
  font-weight: 900;
  margin: 0;
  margin-bottom: 10px;
}
.main-table .head p {
  color: #2D3142;
  font-size: 17px;
}

.table-blank {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 29px;
}
.table-blank .table-head {
  background: transparent;
}
.table-blank .table th {
  color: #4D5D76;
  border-bottom: 1px solid #EDEDED !important;
  font-size: 17px;
  letter-spacing: 0;
  text-transform: capitalize;
}
.table-blank td.price p {
  font-size: 33px;
}
.table-blank td.price small {
  font-size: 12px;
}
.table-blank .table > tbody > tr > td {
  border-color: #EDEDED;
}
.table-blank .table > tbody > tr:last-child > td {
  border-bottom: 1px solid #EDEDED;
}
.table-blank .table-body {
  padding-bottom: 0;
}
