$r: 'Raleway',
sans-serif;
$p: 'Open Sans',
sans-serif;

body {
    font-family: $r;
    font-size: 15px;
}



@media (min-width:768px) {
    .flex {
        display: flex;
        flex-flow: row wrap;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*=============================== Header ===========================*/

.main-header {
    background: #4e5c76;
    padding: 25px 0;
    .menu-link {
        a {
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            display: inline-block;
            margin-right: 15px;
        }
        a.phone {
            border-right: 1px solid #8399a7;
            padding-right: 20px;
        }
        a.user {
            margin-right: 10px;
        }
        small {
            font-size: 14px;
            color: #8699a8;
            font-weight: 700;
            margin-right: 4px;
        }
    }
}

/*=============================== banner ===========================*/

.banner {
    padding-top: 100px;
    padding-bottom: 70px;
    h1 {
        font-size: 47px;
        color: #1D232E;
        font-weight: 900;
        margin: 0;
        line-height: (53/47);
        margin-bottom: 10px;
    }
    p {
        color: #4D5D76;
        font-size: 21px;
        font-family: 'Georgia', $r;
        line-height: (35/21);
        margin: 0;
    }
}

/*=============================== step ===========================*/

.step {
    background: #2D3142;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 70px;
    .item {
        padding-bottom: 70px;
        text-align: left;
        .number {
            font-size: 175px;
            font-family: $p;
            font-weight: 800;
            line-height: .7;
            position: relative;
            padding-left: 50px;
            padding-bottom: 50px;
            span {
                font-size: 40px;
                letter-spacing: 12px;
                text-transform: uppercase;
                color: #4E5D76;
                position: absolute;
                top: 46px;
                left: -56px;
                transform: rotate(-90deg)
            }
        }
        a.title {
            font-size: 30px;
            line-height: (53/30);
            font-weight: 700;
            color: #fff;
        }
        p {
            line-height: (24/15);
            position: relative;
            padding-left: 23px;
            max-width: 274px;
            margin: 0;
            margin-top: 10px;
            &:before {
                content: "";
                width: 5px;
                height: 29px;
                background: #fff;
                position: absolute;
                top: 5px;
                left: 0;

            }
        }
    }
    .step-bottom {
        h2 {
            font-size: 21px;
            font-weight: 700;
            border-bottom: 1px solid #4B566B;
            padding-bottom: 15px;
            margin-bottom: 40px;
        }
        p {
            margin: 0;
            max-width: 964px;
            font-size: 17px;
            line-height: (31/17);
        }
    }
}

/*=============================== footer-banner ===========================*/

.footer-banner {
    padding: 100px 0;
    h2 {
        font-size: 40px;
        color: #4D5D76;
        line-height: (53/40);
        font-weight: 900;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    a.tab {
        background: #FA3F40;
        color: #fff;
        font-size: 23px;
        font-weight: 700;
        border-radius: 50px;
        padding: 18px 20px;
        min-width: 318px;
        transition: .5s;
        &:hover {
            background: #4e5c76;
        }
    }
}

/*=============================== main-footer ===========================*/

.main-footer {
    background: #4e5c76;
    color: #fff;
    padding-top: (45px-15);
    padding-bottom: 40px;
    .widget {
        padding: 15px 0;
    }
    a {
        color: #fff;
    }
    .icon {
        margin-right: 12px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin-bottom: 5px;
        }
    }
    .copy {
        color: #413541;
        padding-top: 20px;
    }
}
