$r: 'Raleway',
sans-serif;
$p: 'Open Sans',
sans-serif;

body {
    font-family: $r;
    font-size: 15px;
}



@media (min-width:768px) {
    .flex {
        display: flex;
        flex-flow: row wrap;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*=============================== Header ===========================*/

.main-header {
    background: #4e5c76;
    padding: 25px 0;
    .menu-link {
        a {
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            display: inline-block;
            margin-right: 15px;
        }
        a.phone {
            border-right: 1px solid #8399a7;
            padding-right: 20px;
        }
        a.user {
            margin-right: 10px;
        }
        small {
            font-size: 14px;
            color: #8699a8;
            font-weight: 700;
            margin-right: 4px;
        }
    }
}

/*=============================== banner ===========================*/

.banner {
    padding-top: 100px;
    padding-bottom: 70px;
    h1 {
        font-size: 47px;
        color: #1D232E;
        font-weight: 900;
        margin: 0;
        line-height: (53/47);
        margin-bottom: 10px;
    }
    p {
        color: #4D5D76;
        font-size: 21px;
        font-family: 'Georgia', $r;
        line-height: (35/21);
        margin: 0;
    }
}

/*=============================== step ===========================*/

.step {
    background: #2D3142;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 70px;
    .item {
        padding-bottom: 70px;
        text-align: left;
        .number {
            font-size: 175px;
            font-family: $p;
            font-weight: 800;
            line-height: .7;
            position: relative;
            padding-left: 50px;
            padding-bottom: 50px;
            span {
                font-size: 40px;
                letter-spacing: 12px;
                text-transform: uppercase;
                color: #4E5D76;
                position: absolute;
                top: 46px;
                left: -56px;
                transform: rotate(-90deg)
            }
        }
        a.title {
            font-size: 30px;
            line-height: (53/30);
            font-weight: 700;
            color: #fff;
        }
        p {
            line-height: (24/15);
            position: relative;
            padding-left: 23px;
            max-width: 274px;
            margin: 0;
            margin-top: 10px;
            &:before {
                content: "";
                width: 5px;
                height: 29px;
                background: #fff;
                position: absolute;
                top: 5px;
                left: 0;

            }
        }
    }
    .step-bottom {
        h2 {
            font-size: 21px;
            font-weight: 700;
            border-bottom: 1px solid #4B566B;
            padding-bottom: 15px;
            margin-bottom: 40px;
        }
        p {
            margin: 0;
            max-width: 964px;
            font-size: 17px;
            line-height: (31/17);
        }
    }
}

/*=============================== footer-banner ===========================*/

.footer-banner {
    padding: 100px 0;
    h2 {
        font-size: 40px;
        color: #4D5D76;
        line-height: (53/40);
        font-weight: 900;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    a.tab {
        background: #FA3F40;
        color: #fff;
        font-size: 23px;
        font-weight: 700;
        border-radius: 50px;
        padding: 18px 20px;
        min-width: 318px;
        transition: .5s;
        &:hover {
            background: #4e5c76;
        }
    }
}

/*=============================== main-footer ===========================*/

.main-footer {
    background: #4e5c76;
    color: #fff;
    padding-top: (45px-15);
    padding-bottom: 40px;
    .widget {
        padding: 15px 0;
    }
    a {
        color: #fff;
    }
    .icon {
        margin-right: 12px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin-bottom: 5px;
        }
    }
    .copy {
        color: #413541;
        padding-top: 20px;
    }
}

/*=============================== platform ===========================*/

.heading-2 {
    h2 {
        font-size: 47px;
        line-height: (53/47);
        font-weight: 900;
        margin: 0;
        margin-bottom: 30px;
    }
    p {
        max-width: 940px;
        margin: 0 auto;
        font: italic 18px/2 'Georgia', $r;
    }
}

.platform {
    color: #fff;
    background: #2D3142;
    padding-top: 73px;
    padding-bottom: (120px-30);

    .content-wraper {
        padding-top: (80px-30);
        .col-md-4 {
            padding: 30px 15px;
        }
    }
    .content {
        border-right: 1px solid #C4C4C4;
        height: 100%;
        .img {
            min-height: 88px;
        }
        a.title {
            font-size: 30px;
            font-weight: 900;
            color: #fff;
            display: inline-block;
            margin-top: 50px;
            margin-bottom: 15px;
        }
        p {
            line-height: (24/15);
            max-width: 280px;
            margin: 0 auto;
        }
    }
}

/*=============================== platform ===========================*/

.service-details {
    padding: 100px 0 42px 0;
    .content {
        max-width: 964px;
        margin: 0 auto;
        padding-bottom: 58px;
        h2 {
            color: #FA3F40;
            font-size: 30px;
            line-height: (44/30);
            font-weight: 900;
            margin: 0;
        }
        h4 {
            color: #748493;
            font-size: 23px;
            line-height: (31/23);
            margin: 15px 0 30px 0;

        }
        p {
            font-size: 18px;
            line-height: (27/18);
            color: #748493;
            margin: 0;
        }
    }
}

/*=============================== pricing ===========================*/

.pricing {
    padding: 74px 0 86px 0;
    background: #2D3142;
    color: #fff;
    .nation-map {
        max-width: 100%;
        margin-top: 35px;
    }
}


/*=============================== service-page ===========================*/

.service {
    padding-bottom: (126px - 36);
    .service-content-wraper {
        justify-content: center;
        .col-md-4 {
            margin-bottom: 36px;
            float: none;
        }
    }
    .item {
        background: #fff;
        box-shadow: 0px 4px 62px rgba(201, 223, 240, 0.44);
        border-radius: 16px;
        height: 100%;
        position: relative;
        overflow: hidden;
        .text-top {
            padding: 60px 27px (54px+70) 45px;
        }
        .img {
            margin-bottom: 50px;
        }
        a.title {
            color: #1D232E;
            font-size: 25px;
            line-height: (44/25);
            font-weight: 900;
        }
        p {
            font-size: 16px;
            color: #748493;
            line-height: (27/16);
            margin: 28px 0 0 0;
        }
        .read-more {
            position: absolute;
            width: 100%;
            background: #fff;
            left: 0;
            bottom: 0;
            a {
                color: #4D5D76;
                font-size: 15px;
                font-weight: 900;
                letter-spacing: 4px;
                text-transform: uppercase;
                text-decoration: none;
                display: block;
                padding: 25px 0;

            }
            &:before {
                content: "";
                display: block;
                height: 3px;
                background: linear-gradient(90deg, #C24E3E 0%, #4E5D75 99.16%);
            }
        }
    }
}

/*=============================== Pricing-page ===========================*/

.price-base {
    background: #2D3142;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
    .left-side {
        h3 {
            margin: 0;
            font-size: 31px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        p {
            font-size: 17px;
            line-height: (30/17);
            margin-bottom: 40px;
            max-width: 479px;

        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                line-height: (30/17);
                font-size: 17px;
                font-weight: 700;
                max-width: 410px;
                margin-bottom: 20px;
                &:before {
                    content: "";
                    background: url(../images/list-arrow.png) no-repeat;
                    background-size: 100% 100%;
                    width: 28.09px;
                    height: 15.43px;
                    float: left;
                    position: relative;
                    top: 6px;
                }
                span {
                    float: left;
                    display: block;
                    width: calc(100% - 28.09px);
                    padding-left: 15px;
                }
            }
        }
    }
    .right-side {
        h3 {
            line-height: (53/26);
            font-size: 26px;
            margin: 0;
            margin-bottom: 15px;
            margin-top: 20px;
            font-weight: 700;
        }
        small {
            font-family: Georgia;
            font-style: italic;
            font-weight: normal;
            line-height: 30px;
            font-size: 15px;
            margin-top: 18px;
            display: block;
        }
    }
    .skipto {
        border-top: 1px solid #4D5D76;
        padding-top: 30px;
        margin-top: 45px;
        p {
            margin: 0;
            margin-bottom: 15px;
            span {
                color: #4D5D76;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 700;
                margin-right: 20px;
            }
            a {
                font-size: 16px;
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}

.table-base {

    border-radius: 16px;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.25);
    color: #4D5D76;
    position: relative;
    overflow: hidden;
    .table {
        margin: 0;
        table-layout: fixed;
    }
    .table-head,
    .table-body {
        padding: 0 30px;
    }
    .table-body {
        background: #FFFFFF;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .table-head {
        background: #2D3142;
    }
    .table th {
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        vertical-align: middle;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .table td {
        font-size: 17px;
        font-weight: 700;
        vertical-align: middle;
    }
    td.price {
        font-size: 30px;
        vertical-align: middle;
        &:before {
            content: "$";
            font-size: 17px;
            position: relative;
            top: -6px;
            margin-right: 5px;
        }
    }
}

.table-small {

    .table {

        > thead,
        > tbody {
            > tr {
                > th,
                td {
                    border: transparent;
                }

            }
        }
    }
}

.table-big {
    box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.11);
    .table {
        > thead {
            > tr {
                > th {
                    border: transparent;
                }

            }
        }
        > tbody {
            > tr {
                > td {
                    border-top: 1px solid #C4C4C4;
                }
                &:first-child {
                    > td {
                        border: transparent;
                    }
                }
            }
        }
    }
    td {

        h4 {
            font-size: 17px;
            color: #4D5D76;
            margin: 0;
            margin-bottom: 10px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            color: #2D3142;
            line-height: (30/14);
            font-weight: 300;
        }
    }
    .table-body {
        padding: (42px - 24) 30px;
    }
    td.price {

        &:before {
            display: none;
        }
        p {
            font-size: 45px;
            color: #4D5D76;
            font-weight: 700;
            font-weight: 700;
            margin: 0;
            &:before {
                content: "$";
                font-size: 17px;
                position: relative;
                top: -6px;
                margin-right: 5px;
                font-size: 23px;
            }
        }
        small {
            color: #4E5D76;
            font-size: 14px;
            font-weight: 700;
            display: block;
            position: relative;
            top: -10px;
        }
    }
}

.main-table {
    padding-top: (76px - 57px);
    .head {
        padding-top: 57px;
        padding-bottom: 28px;
        h2 {
            font-size: 31px;
            color: #2D3142;
            font-weight: 900;
            margin: 0;
            margin-bottom: 10px;
        }
        p {
            color: #2D3142;
            font-size: 17px;

        }
    }

}

.table-blank {
    box-shadow: none;
    margin-top: (57px - 28);
    .table-head {
        background: transparent;
    }
    .table th {
        color: #4D5D76;
        border-bottom: 1px solid #EDEDED !important;
        font-size: 17px;
        letter-spacing: 0;
        text-transform: capitalize;
    }
    td.price p {
        font-size: 33px;
    }
    td.price small {
        font-size: 12px;
    }
    .table > tbody > tr > td {
        border-color: #EDEDED;
    }
    .table > tbody > tr:last-child > td {
        border-bottom: 1px solid #EDEDED
    }
    .table-body {
        padding-bottom: 0;
    }
}
